<div fxLayout="column " style="font-family:sans-serif;" fxLayoutAlign="space-evenly center" fxShow="true" fxHide="false"><img imgSrc="images/pic.png" style="width: 56%;height: 56%;padding-top:30%;">
  <h3>Thank you for submit</h3>
  <p style="color:grey;">We received your bill and processing further,<br> stay back and we will reply soon</p>
  <div fxLayout="column wrap" style="padding-top:20px;" fxLayoutAlign="center center" fxShow="true" fxHide="false"><button mat-button="" style="border-radius:20px;width:60%;background:red;color:white;" routerLink="/home/dashboard">Go Back</button></div>
</div>