<div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="column wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
    <mat-form-field>
      <mat-select [(ngModel)]="country" required (selectionChange)="countryName($event.value)" name="country">
        <mat-option *ngFor="let country of countries" [value]="country.country">{{country.country}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p *ngIf="isShow==false" style="color:red;">please select a country</p>
  </div>
  <div fxLayout="row wrap" class="expensebtn" fxLayoutAlign="end end" fxShow="true" fxHide="false"><button mat-fab="" color="primary" title="add expense" (click)="addExpense()">
      <mat-icon>add_circle<mat-icon></mat-icon>
      </mat-icon>
    </button></div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"></div>
</div>