<div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <mat-card>
    <p>Do you want to go back?</p>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><button mat-button="">Yes</button></div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><button mat-button="">No</button></div>
    </div>
  </mat-card>
</div>