/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

.expensebtn{
    position: fixed;
    bottom: 75px;
    right: 10%;
}