<div fxLayout="column " fxLayoutAlign="  none" fxShow="true" fxHide="false" fxFill="">
  <div fxLayout="column " style="overflow:auto;height:calc(100%-128px)" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <router-outlet></router-outlet>
  </div>
  <mat-toolbar fxLayoutAlign="space-between" class="toolbar">
    <div fxLayout="column " fxLayoutAlign="start center" fxShow="true" fxHide="false">
      <mat-icon class="receiptclass" routerLink="/home/dashboard">home</mat-icon>
    </div>
    <div fxLayout="column " fxLayoutAlign="start end" fxShow="true" fxHide="false">
      <mat-icon class="receiptclass" (click)="edit()">person</mat-icon>
    </div>
  </mat-toolbar>
</div>