<div fxLayout="column wrap" style="padding:16px;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="row " fxLayoutAlign="start center" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <mat-icon style="color:grey;font-size:20px;">receipt</mat-icon>
    </div>
    <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <mat-form-field>
        <mat-select style="width:100%;" placeholder="Expense Type*" [(ngModel)]="expType" required (selectionChange)="openCamera()" touchUi="touch">
          <mat-option *ngFor="let i of expenseType" [value]="i">{{i}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row " fxLayoutAlign="  center" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" fxLayoutAlign="  stretch" fxShow="true" fxHide="false">
      <mat-icon style="color:grey;      padding-top: 20px;font-size:20px;">date_range</mat-icon>
    </div>
    <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <mat-form-field style="width:100%;">
        <input matInput="" [matDatepicker]="picker" [value]="billDate" [min]="minDate" [max]="maxDate" (keydown)="preventuserTyping($event)" placeholder="Bill Date" mat-raised-button="" (click)="picker.open()" style="cursor:pointer;" [(ngModel)]="billDate">
        <mat-datepicker #picker="" touchUi="touch"></mat-datepicker>
      </mat-form-field>





    </div>
  </div>
  <div fxLayout="row " fxLayoutAlign="start center" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <mat-icon style="color:grey;font-size:20px;">account_balance_wallet</mat-icon>
    </div>
    <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <mat-form-field><input matInput="" [(ngModel)]="expAmount" placeholder="Amount" required [value]="billAmount" (keyup)="expFill($event)" (keypress)="prevent($event)"></mat-form-field>
    </div>
  </div>
  <div fxLayout="row " style="width:100%;" fxLayoutAlign="start center" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <mat-icon style="color:grey;font-size:20px;">comment</mat-icon>
    </div>
    <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <mat-form-field style="width:100%;"><input matInput="" [(ngModel)]="comment" placeholder="Comments" [value]="comment"></mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
    <p style="color:grey;">Bill Preview</p>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false" *ngIf="img" (click)="openDialog()"><img [src]="imgPath" style="border-radius:10%;"></div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
    <p (click)="openCamera()" style="cursor:pointer;color:red; ">Retake?</p>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
    <div fxLayout="row wrap" class="expensebtn" fxLayoutAlign="center center" fxShow="true" fxHide="false" *ngIf="amount"><button mat-fab="" color="red" (click)="submit()">
        <mat-icon>check</mat-icon>
      </button></div>
  </div>
</div>