<div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="row " style="height:100%;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" style="margin-top:1%;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <mat-icon style="color:grey;font-size:20px;">receipt</mat-icon>
    </div>
    <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <mat-form-field>
        <mat-select style="width:100%;" placeholder="Expense Type" [(ngModel)]="expType" required>
          <mat-option *ngFor="let i of expenseType" [value]="i">{{i}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row " style="height:100%;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" style="margin-top:1%;" fxLayoutAlign="start center" fxShow="true" fxHide="false">
      <mat-icon>date_range</mat-icon>
    </div>
    <div fxLayout="column " style="width:100vh;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <div style="width:300px;height:52px">
        <mat-form-field class="example-full-width" style="width:300vh;">
          <input matInput="" required [matDatepicker]="picker" placeholder="Bill Date" mat-raised-button="" (click)="picker.open()" style="cursor:pointer;">
          <mat-datepicker #picker=""></mat-datepicker>
        </mat-form-field>
        <mat-icon></mat-icon>
        <!-- <mat-icon mat-raised-button (click)="picker.open()" style="cursor:pointer">arrow_drop_down</mat-icon> -->

      </div>
    </div>
  </div>
  <div fxLayout="row " fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" style="margin-top:1%;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <mat-icon>account_balance_wallet</mat-icon>
    </div>
    <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <mat-form-field><input matInput="" type="number" placeholder="Amount" required></mat-form-field>
    </div>
  </div>
  <div fxLayout="row " style="width:100%;" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <mat-form-field style="width:100%;"><input matInput="" placeholder="Comments"></mat-form-field>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <p>Attach Bill?</p>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><button mat-button="" (click)="openCamera()">Yes</button></div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><button mat-button="" (click)="amount()">No</button></div>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" *ngIf="img"><img [src]="imgPath" height="30px"></div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" *ngIf="Amount">
    <mat-form-field><input matInput="" [(ngModel)]="expAmount" placeholder="Amount" required></mat-form-field>
  </div><button mat-button="" (click)="submit()">Submit</button>
</div>