<div fxLayout="column " fxLayoutAlign="  none" fxShow="true" fxHide="false">
  <mat-toolbar fxLayoutAlign="space-between" style="position:fixed;" class="toolbar">
    <div fxLayout="column wrap" fxLayoutAlign="center start" fxShow="true" fxHide="false">
      <mat-icon style="color:white" (click)="openDialog()" *ngIf="showButton">keyboard_backspace</mat-icon>
    </div>
    <div fxLayout="column " fxLayoutAlign="center start" fxShow="true" fxHide="false">
      <h3 style="color:white;">My Expenses</h3>
    </div>
  </mat-toolbar>
  <div fxLayout="column " style=" overflow:auto;" fxFlex=" calc(100%-128px)" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="column " style="margin-top:56px;" fxFlex="100" fxLayoutAlign="  none" fxShow="true" fxHide="false">
      <div fxLayout="row " class="expenselist" fxFlex="100" fxLayoutGap="1em" fxLayoutAlign="space-between stretch" fxShow="true" fxHide="false" *ngFor="let expense of expenseArray">
        <div fxLayout="column " fxFlex="25" fxLayoutAlign="start stretch" fxShow="true" fxHide="false"><img style="border-radius:10%;width:85%;" [src]="expense.imageurl"></div>
        <div fxLayout="column wrap" fxFlex="47" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <h3>{{expense.expType}}</h3>
          <p>{{expense.billDate}}</p>
          <p>{{expense.comment}}</p>
        </div>
        <div fxLayout="column wrap" fxFlex="25" fxLayoutAlign="start end" fxShow="true" fxHide="false">
          <h3>{{expense.expAmount}}</h3>
        </div>
      </div>
      <div fxLayout="column wrap" class="spinner" fxLayoutAlign="center center" fxShow="true" fxHide="false" *ngIf="this.showSpinner">
        <mat-spinner diameter="60" mode="indeterminate" color="primary" strokeWidth="4"></mat-spinner>
      </div>
      <div fxLayout="column " class="submitCol" fxFlex="100" fxLayoutAlign="center center" fxShow="true" fxHide="false" *ngIf="showButton"><button mat-raised-button="" style="  border-radius:50px;" class="submitBtn" *ngIf="this.booleanvalue==false" (click)="sendingMail()">SUBMIT</button></div>
    </div>
    <div fxLayout="column wrap" class="addexpensebtn" fxLayoutAlign="end center" fxShow="true" fxHide="false"><button mat-fab="" routerLink="/home/expenseinfo" *ngIf="showButton">
        <mat-icon>add_circle<mat-icon></mat-icon>
        </mat-icon>
      </button></div>
    <div fxLayout="column wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" class="expensebtn" fxFlex="100" fxLayoutAlign="center center" fxShow="true" fxHide="false" *ngIf="showButton"><button mat-fab="" style="    background-color: white;" (click)="sendEmailto()"> <i class="material-icons"> mail </i></button></div>
    </div>
  </div>
</div>